@import"../variable.css";
body{
 height: 100%;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Tajawal', sans-serif;
 background-color: var(--primary-background-color);
}

.project_container{
width: 100%;
display: flex;
column-gap: 1rem;
padding: 1rem;

.sidebar{
    width: 20%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 1rem;
    row-gap: 1rem;
    .logo-container{
        margin: auto;
    }
    .owner_feedback{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #FFFFFF0D;
        border-radius: 16px;
        padding: 0.5rem;
        margin-top: 2rem;
        .info{
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
        .owner_name{
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            #name{
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                color: #FFFFFF;
            }
            #latest_update{
                 font-weight: 400;
                font-size: 10px;
                line-height: 100%;
                color: #E4E8E3;
            }
        }

    }
    .graph_container{
        background: #10090A;
        border-radius: 16px;
        border: 1px solid #FFFFFF80;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
        position: relative;
       
        .kpi{
            span{
                color: var(--primary-green-color);
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                position: absolute;
                left: 5rem;
            }
        }
        .count{
            display: flex;
            width: 100%;
            align-items: center;
            column-gap: 1rem;
            .month_count{
                width: 40%;
                display: flex;
                span{
                color: var(--primary-green-color);
                font-weight: 700;
                font-size: 14px;
                line-height: 100%;
                }
            }
            .count_info{
                width: 40%;
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                span{
                    color: white;
                    font-weight: 700;
                    font-size: 9px;
                }
                span:last-of-type{
                    color: #868B93;
                }

            }
        }
        .percent{
           span{
                color:white;
                font-weight: 600;
                font-size: 20px;
                line-height: 100%;
                position: absolute;
                left: 1rem;
            }   
        }
        .graph{
            margin-top: 1rem;
        }
    }
    .list{
        display: flex;
        flex-direction: column;
        border-top:0.25px solid #FFFFFF;
        padding: 1rem;
        row-gap: 1.5rem;
        .list_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .tittle{
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
            span{
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0%;
            color: #FFFFFF;

            }

            }
          
        }
    }
}
#project_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 30rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
        img{
            cursor: pointer;
        }
    }
}
#pmo_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 34rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }
}
#Property_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 36rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }
}
#customer_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 38rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }

}
#development_list{
     position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 38rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }
}
#markiting_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 44rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    } 
}
#Purchases_list{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 22rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    } 
}
#report_list{
     position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 28rem;
    right: 20rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    } 
}
.left_side{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .header{
        /* width: 100%; */
        background-color: white;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 16px;
        justify-content: space-between;
        .header_text{
            span{
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #291A2E;


            }
        }
        .header_tool{
            display: flex;
            column-gap: 1rem;
            align-items: center;
            label{
                display: flex;
                background-color: #F7F7F7;
                border-radius: 8px;
                justify-content: space-between;
                padding: 0.5rem 1rem ;
                .input{
                    display: flex;
                    input{
                    border: none;
                    outline: none;
                    background: transparent;
                    }
                   
                }
            }
            .notification{
                width: 2rem;
                background-color: #F7F7F7;
                border-radius: 6px;
                padding: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }
    .content{
       height: 20rem;
       background-color: white;
       border-radius: 16px;
       display: flex;
       flex-direction: column;
       .tittle{
        display: flex;
        align-items: center;
        column-gap: 2rem;
        #pkd{
         font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0%;
        }
       }
       .project_name{
        padding: 0.5rem 1rem;
        span{
            font-weight: bold;

        }
       }
       .list_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
       

         
        .list_item{
            background-color: #F6EFEF;
            border-radius: 12px;
            width: 6rem;
            height: 5rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            box-shadow: 0px 1px 3px 0px #0000004D;

            box-shadow: 0px 4px 8px 3px #00000026;
            
             

            .desc{
            color: #331D1F;
            font-weight: bold;
             }
           

        }
      
       }
    }
    #BookingList{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 21rem;
    right: 33rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
        img{
            cursor: pointer;
        }
    }
    }
    #ContractsList{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 21rem;
    right: 53rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }
    }
    #DeliveryList{
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;
    top: 21rem;
    right: 65rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }  
    }
    #MaintenanceList{
        position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 0.5rem 2rem;
    row-gap: 1rem;
    top: 21rem;
    right: 73rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }  
    }
    .auto_content{
        height: 100%;
         background-color: white;
       border-radius: 16px;
    }
    
}
#projects{
   position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    row-gap: 1rem;
    top: 34rem;
    right: 36rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    } 
}
#client_account{
     position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    row-gap: 1rem;
    top: 25rem;
    right: 53rem;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000040;
    
    div{
        width: 90%;
        padding: 1rem;
        border-radius: 6px;
        background-color: #F5F5F5;
    }
}
}